{{ define "main" }}
  {{ partial "header.html" . }}
  <section class="main post-detail">
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      <p class="post-meta">@{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }} · <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time> · 约 {{ .ReadingTime }} 分钟阅读</p>
    </header>
    {{ if and (ne .Params.toc false) (gt (len .TableOfContents) 32) }}
      <nav class="post-toc" aria-label="文章目录">
        <h2>目录</h2>
        {{ .TableOfContents }}
      </nav>
    {{ end }}
    <article class="post-content">{{ .Content }}</article>
    <footer class="post-footer">
      <div class="wechat-card">
        <p>欢迎搜索微信号 mad_coder 或者扫描二维码关注公众号：</p>
        <img src="https://user-images.githubusercontent.com/12164075/133170982-62816554-7dd8-4e97-adbc-734f1df61e73.jpg" alt="mad_coder" loading="lazy" decoding="async">
      </div>
      {{ if isset .Params "tags" }}
      <ul class="post-tags">
        {{ range $tag := .Params.tags }}
          <li><a href="{{ printf "/tags/%s/" ($tag | urlize) | relURL }}"><span class="tag">{{ $tag | title }}</span></a></li>
        {{ end }}
      </ul>
      {{ end }}
      <p class="post-copyright">
        {{ if .Site.Copyright }}{{ .Site.Copyright }}{{ end }}{{ if gt (div (sub now.Unix .Lastmod.Unix) 86400) 100 }}本文发布于 <strong>{{ div (sub now.Unix .Lastmod.Unix) 86400 }}</strong> 天前，部分内容可能已经过时，请自行判断。{{ end }}
      </p>
    </footer>
    {{ if ne .Params.comments false }}
      {{ if .Site.Params.changyan }}
      <div id="cyReward" role="cylabs" data-use="reward"></div>
      <script src="//changyan.itc.cn/js/lib/jquery.js"></script>
      <script src="//changyan.sohu.com/js/changyan.labs.https.js?appid={{ .Site.Params.changyanId }}"></script>
      <div id="SOHUCS" sid="{{ .URL }}" ></div>
      <script>
      (function(){
      var appid = '{{ .Site.Params.changyanId }}';
      var conf = '{{ .Site.Params.changyanConf }}';
      var width = window.innerWidth || document.documentElement.clientWidth;
      if (width < 960) {
      window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
      </script>
      {{ else if isset .Site.Params "disqusshortname" }}
        {{ template "_internal/disqus.html" . }}
      {{ else }}{{ end }}
    {{ end }}
  </section>
  {{ partial "footer.html" . }}
{{ end }}
